@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.eot');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/proxima_nova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
html, 
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Proxima Nova Regular", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 31px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;  
}
ul, 
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  margin:-1px;
  padding:0;
  position: absolute;
}
.page-inner {
  position: relative;
  background-color: #90a3b3;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.page-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 1148px;
  width: 65%;
  margin: 0 auto;
}
.header-main {
  position: relative;
  padding-top: 50px;
  padding-bottom: 105px;
  color: #ffffff;
  z-index: 1;
}
.header-main--width {
  width: 1148px;
  margin: 0 auto;
}
.header-main__slogan {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  width: 686px;
}
.header-main__logo {
  margin-top: 2px;
}
.header-main__wrap {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 588px;
}
.header-main__title {
  padding: 0;
  margin: 0;
  /*Размер должен быть по макету 28px*/
  font-size: 26px;
  text-transform: uppercase;
}
.header-main__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
.form {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 99px; 
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 5px;
}

.form__wrap--search {
  -js-display: flex;
  display: flex;
  align-items: flex-start;
}
.form__search {
  display: block;
  box-sizing: border-box;
  width: 930px;
  height: 31px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 16px; 
  color: #a5a7b5;
  border: none;
  outline: none;
  border-bottom: 1px solid #35363c;
  transition: 100ms;
  margin-bottom: 46px;
}

.form__search:hover {
  border-bottom: 1px solid #a5a7b5;
}
.form__search::-webkit-input-placeholder {color: #a5a7b5;}
.form__search::-moz-placeholder {color: #a5a7b5;}
.form__search:-moz-placeholder  {color: #a5a7b5;}
.form__search:-ms-input-placeholder {color: #a5a7b5;}

.form__icon-search {
  display: block;
  padding-top: 3px;
  width: 20px;
  height: 31px;
  border-bottom: 1px solid #35363c;
}
.form__svg-search {
  width: 16px;
  height: 16px;
  fill: none; 
  stroke: #db0536; 
  stroke-linecap: round; 
  stroke-linejoin: round; 
  stroke-width: 2px; 
  cursor: pointer;  
}
.form__wrap {
  position: relative;
}
.form__wrap--grid {
  width: 100%;
  display: flex;
}
.form__wrap--indent-narrow {
  margin-left: 10px;
  margin-bottom: 38px;
} 
.form__wrap--indent-wide {
  margin-left: 40px;
} 

.form__label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1e1f26;
}
.form__input {
  display: block;
  box-sizing: border-box;
  width: 300px;
  padding: 13px 15px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  color: #db0536;
  border: 1px solid #35363c;
  border-radius: 2px; 
}

/*временно через hover, исключительно для того, что бы визуально посмотреть*/
.form__wrap--calendar:hover .form__table {
  display: block;
}

.form__input::-webkit-input-placeholder {color: #db0536;}
.form__input::-moz-placeholder {color: #db0536;}
.form__input:-moz-placeholder  {color: #db0536;}
.form__input:-ms-input-placeholder {color: #db0536;} 
 
 /*календарь*/
.form__table {
  display: none;
  position: absolute;
  width: 300px;
  top: 90px;
  left: 0;
  border-collapse: collapse;
  background-color: #ffffff;
  z-index: 3;
}
.form__table::before {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #1e1f26;
  top: -13px;
  left: 143px;
}
.form__top {
  background-color: #1e1f26;
  border: solid 1px #1e1f26;
}
.form__caption {
  width: 300px;
  font-size: 18px;
  line-height: 39px;
  /*почему-то не подключается тонкий шрифт*/
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}
.icon {
  position: absolute;
  content: "";
}
.icon--left-arrow {
  width: 11px;
  height: 16px;
  top: 14px;
  left: 11px;
  fill:#fff;
  cursor: pointer;
  z-index: 4;   
}
.icon--right-arrow {
  width: 11px;
  height: 16px;
  top: 14px;
  left: 280px;
  fill:#fff;
  cursor: pointer;
  z-index: 4; 
}
.form__cell-week {
  padding-bottom: 4px;
  /*Размер по макету 12px*/
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.form__row {
  border: solid 1px #adadad;
}
.form__cell {
  padding: 7px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #2e2e2e;
  background-color: #ffffff;
  border: solid 1px #adadad;
}
.form__cell--active {
  background-color: #db0536;
  color: #ffffff;
}
.form__cell--light {
  color: #adadad;
}
 /*-----------*/

 /*временно через hover, исключительно для того, что бы визуально посмотреть*/
.form__wrap--dropdown:hover .form__list {
  display: block;
}
.form__input--number {
  width: 105px;
  padding-left: 15px;
} 
.icon--down-arrow1,
.icon--down-arrow2 {
  width: 14px;
  height: 19px;
  fill:#35363c;
  top: 52px;
  right: 12px;
  cursor: pointer;
 }

/*выпадающий список*/
.form__list {
  display: none;
  position: absolute;
  width: 104px;
  padding: 10px 0;
  top: 90px;
  left: 0;
  background-color: #1e1f26;
  z-index: 3;  
}
.form__list::before {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #1e1f26;
  top: -13px;
  left: 46px;
}
.form__item {
  padding: 5px 0 5px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}
.form__item:hover {
  background-color: #2d2e37;
}
/*----------------*/

.form__wrap--checkbox {
  -js-display: flex;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.form__checkbox {
  display: none;
}
.form__label-checkbox {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 328px;
  font-family: inherit;
  /*Размер по макету 16px*/
  font-size: 15px; 
  color: #35363c;
  padding-left: 57px;
}
.form__label-checkbox::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0px;
  display: block;
  width: 23px;
  height: 23px;
  border: 1px solid #35363c;
}
.form__checkbox:checked + .form__label-checkbox::after {
  display: block;
}
.form__checkbox:checked + .form__label-checkbox::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  width: 13px;
  height: 13px;
  background-color: #db0536;
}
.icon--plane {
  width: 18px;
  height: 18px;
  fill:#a5a7b5;
  top: 6px;
  left: 345px; 
}
.btn {
  box-sizing: border-box;
  font-family: inherit;
  color: #ffffff;
  background-color: #db0536;
  border-radius: 50px;
  border: none;
  outline: none;
  transition: 100ms;
  cursor: pointer;
}
.btn--form {
  margin: 0 auto;
  /*Размер по макету 18px*/
  font-size: 16px;
  padding: 20px 78px;
  margin-bottom: 34px;
}
.btn--form:hover {
  background-color: #ac0027;
} 
.result {
  -js-display: flex;
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 200px;
  font-size: 14px;
  color: #1e1f26;
  margin: 0;
}

.result__item {
  display: inline-block;
  position: relative;
  width: 15px;
}
.result__item--large {
  width: 110px;
}
.result__item--medium {
  width: 36px;
}

.icon--month {
  width: 13px;
  height: 13px;
  fill:#1e1f26;
  top: 6px;
  right: 10px;   
}
.icon--grownups {
  width: 7px;
  height: 18px;
  top: 2px;
  right: 15px;   
}
.icon--children {
  width: 6px;
  height: 12px;
  top: 8px;
  right: 0px; 
  fill:#1e1f26; 
}
