mixin catalog(one, two)

  if one
      .catalog__item
        |
        |
        img.catalog__image(src="img/hotel-palmira.jpg" width="374" height="237" alt="Palmira Business Club")
        .catalog__features
          .catalog__inner.catalog__inner--left
            h2.catalog__title Palmira Business Club
            p.catalog__text В центре города
          .catalog__inner.catalog__inner--right
            .rating.rating--size-small
              - for (var x = 0; x < 4; x++)
                span.rating__item
                  svg.rating__star(width="11" height="11")
                    use(xmlns="http://www.w3.org/2000/svg" xlink:href="#star")
            |
            |    
            span.catalog__price 6 200 руб.
        +button('catalog', 'Подробнее')
        block
  else if two
      .catalog__item
        |
        |
        img.catalog__image(src="img/hotel-slavyanka-orange.jpg" width="374" height="237" alt="Гостиница Славянка")
        .catalog__features
          .catalog__inner.catalog__inner--left
            h2.catalog__title Гостиница Славянка
            p.catalog__text Проспект Мира
          .catalog__inner.catalog__inner--right
            .rating.rating--size-small
              - for (var x = 0; x < 3; x++)
                span.rating__item
                  |
                  |  
                  svg.rating__star(width="11" height="11")
                    use(xmlns="http://www.w3.org/2000/svg" xlink:href="#star")  
            |
            |    
            span.catalog__price 5 000 руб.
        +button('catalog', 'Подробнее')
        block
  else 
      .catalog__item
        |
        |
        img.catalog__image(src="img/hotel-slavyanka-blue.jpg" width="374" height="237" alt="Гостиница Славянка")
        .catalog__features
          .catalog__inner.catalog__inner--left
            h2.catalog__title Гостиница Славянка
            p.catalog__text Проспект Мира
          .catalog__inner.catalog__inner--right
            .rating.rating--size-small
              - for (var x = 0; x < 5; x++)
                span.rating__item
                  svg.rating__star(width="11" height="11")
                    use(xmlns="http://www.w3.org/2000/svg" xlink:href="#star")  
            |
            |    
            span.catalog__price 8 500 руб.
        +button('catalog', 'Подробнее')
        block