block slogan
  .header-main__slogan
    a.header-main__logo(href="#")
      img(src="img/logo.png", width="69", height="54", alt="JCB &mdash; лучший интернет-сервис по версии National Geographic Traveler Awards")
    .header-main__inner
      h1.header-main__title Гостиницы по лучшим ценам
      h2.header-main__subtitle JCB &mdash; лучший интернет-сервис по версии National Geographic Traveler Awards
    