extends ../layout/index

block title
  - var title='Гостиницы: расширенный поиск'
block header
  +header(false)
block main
  main
    .container.container--column
      form.form.form--size(action="/echo" method="post")
        +search('narrow', 'Поиск по названию')
      section.catalog.catalog--indent-top
        +catalog(true)
        +catalog(false, true)
        +catalog(one, two)
        +catalog(true)
        +catalog(false, true)
        +catalog(one, two)