extends ../layout/index

block title
  - var title='Гостиницы поиск'
  - var authenticated = false
  h1 Заголовок
  #container.col
      if youAreUsingPug
          p Вы используете pug
      else
          p Начните использовать pug
          p Тестовый параграф!!!