extends ../layout/index

block main
  h1 Заголовок
  #container.col
      if youAreUsingPug
          p Вы используете pug
      else
          p Начните использовать pug
          p Тестовый параграф!