block td-list
  tr.form__top
    td.form__cell-week пн
    td.form__cell-week вт
    td.form__cell-week ср
    td.form__cell-week чт
    td.form__cell-week пт
    td.form__cell-week сб
    td.form__cell-week вс
  tr.form__row
    td.form__cell 1
    td.form__cell 2
    td.form__cell 3
    td.form__cell 4
    td.form__cell 5
    td.form__cell 6
    td.form__cell 7
  tr.form__row
    td.form__cell 8
    td.form__cell 9
    td.form__cell 10
    td.form__cell 11
    td.form__cell 12
    td.form__cell 13
    td.form__cell 14
  tr.form__row
    td.form__cell 15
    td.form__cell 16
    td.form__cell 17
    td.form__cell 18
    td.form__cell 19
    td.form__cell 20
    td.form__cell 21

  